// colors
$primary = #007bff
$primaryHov = #0062cc
$primaryBtnHov = #0069d9
$secondary = #868e96
$secondaryHov = #6c757d
$secondaryBtnHov = #727b84
$success = #28a745
$successHov = #1e7e34
$successBtnHov = #218838
$info = #17a2b8
$infoHov = #117a8b
$infoBtnHov = #138496
$warning = #ffc107
$warningHov = #d39e00
$warningBtnHov = #e0a800
$danger = #dc3545
$dangerHov = #bd2130
$dangerBtnHov = #c82333
$light = #f8f9fa
$lightHov = #dae0e5
$lightBtnHov = #e2e6ea
$dark = #343a40
$darkHov = #1d2124
$darkBtnHov = #23272b

$white = #fafafa
$black = #111

$bodyColor = $white
$bodyBackground = $black

//grid breakpoints
$grid-sm = 576px
$grid-md = 768px
$grid-lg = 992px
$grid-xl = 1200px

//container-max-size
$container-sm = 540px
$container-md = 720px
$container-lg = 960px
$container-xl = 1140px

//fonts
$font-weight-light = 300
$font-weight-normal = normal
$font-weight-bold = bold

$font-family-base = Mukta, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
$font-family-monospace = "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

$h1-font-size = 2.5rem
$h2-font-size = 2rem
$h3-font-size = 1.75rem
$h4-font-size = 1.5rem
$h5-font-size = 1.25rem
$h6-font-size = 1rem

//display
$display1-size = 6rem
$display2-size = 5.5rem
$display3-size = 4.5rem
$display4-size = 3.5rem

$display1-weight = $font-weight-light
$display2-weight = $font-weight-light
$display3-weight = $font-weight-light
$display4-weight = $font-weight-light

// @import "bootstrap/includes/mediaPrint"
@import "bootstrap/includes/main"
@import "bootstrap/includes/fonts"
@import "bootstrap/includes/display"
@import "bootstrap/includes/taxonomy"
// @import "bootstrap/includes/container"
// @import "bootstrap/includes/container-fluid"
// @import "bootstrap/includes/row"
// @import "bootstrap/includes/noGutters"
// @import "bootstrap/includes/col"
@import "bootstrap/includes/order"
// @import "bootstrap/includes/table"
// @import "bootstrap/includes/formControl"

// @import "bootstrap/includes/btn"
// @import "bootstrap/includes/btnPrimary"
// @import "bootstrap/includes/btnSecondary"
// @import "bootstrap/includes/btnSuccess"
// @import "bootstrap/includes/btnInfo"
// @import "bootstrap/includes/btnWarning"
// @import "bootstrap/includes/btnDanger"
// @import "bootstrap/includes/btnLight"
// @import "bootstrap/includes/btnDark"
// @import "bootstrap/includes/btnOutlinePrimary"
// @import "bootstrap/includes/btnOutlineSecondary"
// @import "bootstrap/includes/btnOutlineSuccess"
// @import "bootstrap/includes/btnOutlineInfo"
// @import "bootstrap/includes/btnOutlineWarning"
// @import "bootstrap/includes/btnOutlineDanger"
// @import "bootstrap/includes/btnOutlineLight"
// @import "bootstrap/includes/btnOutlineDark"
// @import "bootstrap/includes/btnLink"
// @import "bootstrap/includes/btnDrop"
// @import "bootstrap/includes/btnGroup"
// @import "bootstrap/includes/btnMsc"

// @import "bootstrap/includes/input"
// @import "bootstrap/includes/custom"
// @import "bootstrap/includes/nav"
// @import "bootstrap/includes/card"
// @import "bootstrap/includes/breadcrumb"
// @import "bootstrap/includes/pagination"
// @import "bootstrap/includes/badge"
// @import "bootstrap/includes/jumbotron"
// @import "bootstrap/includes/alert"
// @import "bootstrap/includes/progress"
// @import "bootstrap/includes/media"
// @import "bootstrap/includes/listGroup"
// @import "bootstrap/includes/close"
// @import "bootstrap/includes/modal"
// @import "bootstrap/includes/tooltip"
// @import "bootstrap/includes/popover"
// @import "bootstrap/includes/carousel"
@import "bootstrap/includes/align"
// @import "bootstrap/includes/bg"
// @import "bootstrap/includes/border"
// @import "bootstrap/includes/rounded"
@import "bootstrap/includes/d"
// @import "bootstrap/includes/embed"
@import "bootstrap/includes/flex"
@import "bootstrap/includes/justify"
@import "bootstrap/includes/alignItem"
@import "bootstrap/includes/alignContent"
@import "bootstrap/includes/alignSelf"
// @import "bootstrap/includes/float"
// @import "bootstrap/includes/position"
@import "bootstrap/includes/helpers"
@import "bootstrap/includes/text"
@import "bootstrap/includes/visible"