/*@font-face
  font-family: 'Meslo'
  src: url('https://static.domain.tld/fonts/Meslo/Meslo-Regular.woff2') format('woff2')
  src: url('https://static.domain.tld/fonts/Meslo/Meslo-Regular.woff') format('woff')
  src: local('Menlo-Regular')
  font-style: normal

@font-face
  font-family: 'Meslo'
  src: url('https://static.domain.tld/fonts/Meslo/Meslo-Bold.woff2') format('woff2'),
       url('https://static.domain.tld/fonts/Meslo/Meslo-Bold.woff') format('woff')
  src: local('Menlo-Bold')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Meslo'
  src: url('https://static.domain.tld/fonts/Meslo/Meslo-BoldItalic.woff2') format('woff2'),
       url('https://static.domain.tld/fonts/Meslo/Meslo-BoldItalic.woff') format('woff')
  src: local('Menlo-BoldItalic')
  font-weight: bold
  font-style: italic


@font-face
  font-family: 'Meslo'
  src: url('https://static.domain.tld/fonts/Meslo/Meslo-Italic.woff2') format('woff2'),
       url('https://static.domain.tld/fonts/Meslo/Meslo-Italic.woff') format('woff')
  src: local('Menlo-Italic')
  font-weight: normal
  font-style: italic

*/